<div class="row">
  <div class="col-xs-12">
    <h2 class="mb-3">My Task</h2>
    <div class="add-todo">
      <input class="form-control" [(ngModel)]="newTask"  placeholder="enter your task" />
      <select [(ngModel)]="importance" class="mx-3">
        <option value="1">low</option>
        <option value="2">middle</option>
        <option value="3">high</option>
      </select>
      <button class="btn btn-outline-warning mx-3" (click)="addNewTask()">Add Task</button>
    </div>



    <br><br>
<div  *ngFor="let task of tasks;let i=index;trackBy:tackByFn">
<div *ngIf="task.done;else notComplete "

     class="alert alert-success d-flex align-items-center justify-content-between"
[ngStyle]="{'font-weight':task.id>0.5?'bolder':'lighter'}"
[ngClass]="{'done':task.done}"
>
  <input class="form-check-input" type="checkbox" (change)="doneTask(task.id,$event)">

    <h3 class="text-danger">{{task.id}}</h3>
    <h3>
      {{task.name}}
    </h3>


<!--    <button class="btn btn-danger" (click)="onRemoveTask()"-->
<!--            [ngClass]="{'disable':task.status==='disable','enable':task.status==='enable'}"-->
<!--    >Delete</button>-->
    <button class="btn btn-danger" (click)="onRemoveTask()"
            [ngClass]="[task.status==='enable'?'enable':'disable']"
    >Delete</button>
  </div>

    <ng-template #notComplete>
      <div  class="alert alert-warning d-flex align-items-center justify-content-between"
            [ngStyle]="{'font-weight':task.id>0.5?'bolder':'lighter'}"

      >
        <input class="form-check-input" type="checkbox" (change)="doneTask(task.id,$event)">

        <h3 class="text-danger">{{task.id}}</h3>
        <h3>
          {{task.name}}
        </h3>
<!--        <div [ngSwitch]="task.importance">-->
<!--          <h1 *ngSwitchCase="'1'" class="text-success">low</h1>-->
<!--          <h2 *ngSwitchCase="'2'" class="text-warning">middle</h2>-->
<!--          <h3 *ngSwitchCase="'3'" class="text-danger">high</h3>-->
<!--          <h4 *ngSwitchDefault>low </h4>-->
<!--        </div>-->
        @switch (task.importance){
          @case ('1'){
          <h1  class="text-success">low</h1>
          }
          @case ('2'){

          <h2  class="text-warning">middle</h2>
          }
          @case ('3'){
          <h3  class="text-danger">high</h3>
          }
          @default {

          <h4 >low </h4>
          }
        }




        <!--    <button class="btn btn-danger" (click)="onRemoveTask()"-->
        <!--            [ngClass]="{'disable':task.status==='disable','enable':task.status==='enable'}"-->
        <!--    >Delete</button>-->
        <button class="btn btn-danger" (click)="onRemoveTask()"
                [ngClass]="[task.status==='enable'?'enable':'disable']"
        >Delete</button>
      </div>

    </ng-template>
</div>

  </div>
</div>
